<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>
        body {
            background-image: url(images/1.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            background-attachment: fixed;
        }

        .starter {
            margin-top: 40px;
            padding: 40px 12px;
            text-align: center;
        }

        .main {
            border: 1px solid gray;
        }

        .info {
            border: 1px solid gray;
        }

        .content {
            border: 1px solid gainsboro;
            margin: 10px auto;
            padding: 20px;
        }

        img {
            width: 100px;
            height: 100px;
        }

        a {
            text-decoration: none;
        }

        .clear {
            clear: both;
        }

        span {
            font-size: 90%;
        }

        .comment_username {
            font-size: 110%;
            color: gray;
        }

        .time {
            font-size: 80%;
            color: gainsboro;
        }

        .comment {
            border: 1px dotted gray;
        }

        .give {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: antiquewhite;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .comment_btn {
            border: 1px solid gray;
            background-color: gray;
            width: 60px;
            height: 40px;
            border-radius: 10px;
        }

        textarea {
            margin: 10px auto;
        }
    </style>
    <script type="text/javascript" src="./js/ajax.js"></script>
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!--顶部导航栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><span class="admin_name">{{username}}</span></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./Login.html">退出登录</a></li>
                    <li><a href="./User.html">本人详细信息</a></li>
                    <li><a href="./updateUser.html">修改资料</a></li>
                    <li><a href="./UserHot.html">捐赠热点</a></li>
                    <li><a href="./insertDonation.html">发布捐赠</a></li>
                    <li><a href="./selectDonation.html">接受捐赠</a></li>
                    <li><a href="./searchDonation.html">查询捐赠</a></li>
                    <li><a href="./UserHome.html">用户主页</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="container">
        <div class="starter">
            <!--顶部个人信息部分-->
            <div class="info">
                <h3>用户名:{{username}}</h3>
                <span>性别:{{sex}}</span><br>
                <span>联系电话:{{phone_num}}</span><br>
                <span>邮箱{{email}}</span><br>
                <button class="give" v-on:click="give">👍</button>
                <span>收到{{praise_num}}人点赞</span>
                <button class="comment_btn" v-on:click="comment">评论他</button>
                <div v-if="seen">
                    <textarea class="form-control" id="content" name="deblock_udid" rows="8" style="width:300px"
                        placeholder="评论"></textarea>
                    <button id="btn" class="btn btn-lg btn-warning btn-block" type="button" style="width:200px;margin:10px auto"
                        v-on:click="add">评论</button>
                </div>
            </div>
            <!--该用户发布的所有捐赠-->
            <div>
                <h4>发布的捐赠</h4>
                <div v-for="(item,index) in items" class="content">
                    <div class="first">
                        <a href="">用户：{{item.username}}</a><br>
                    </div>
                    <div class="second">
                        <img id="img" v-bind:src="item.img_url">
                    </div>
                    <div class="third">
                        {{item.title}}<br>
                        {{item.content}}
                    </div>
                    <button class="btn" v-on:click="need(index)">我需要</button>
                    <div class="clear"></div>
                </div>
            </div>
            <!--该用户收到的所有评论-->
            <div>
                <h4>收到的评论</h4>
                <div v-for="comment in comments" class="comment">
                    <span class="comment_username">{{comment.comment_username}}:</span>
                    <span>{{comment.comment_content}}</span><br>
                    <span class="time">评论时间{{comment.comment_time}}</span>
                </div>
            </div>


        </div>
    </div>

    <script>
        //顶部用户名的显示
        var example = new Vue({
            el: '#navbar',
            data: {
                username: ""
            },
            mounted() {
                var number = localStorage.getItem("number")
                console.log(number)
                this.username = "尊敬的" + number
            },
            methods: {

            },
        })

        var demo = new Vue({
            el: '#container',
            data: {
                username: "",
                sex: "",
                phone_num: "",
                email: "",
                items: [],
                comments: [],
                praise_num: 0,
                seen: false
            },
            mounted() {
                var name_url = getQueryString('username') //传过来的用户名
                console.log("传过来的" + name_url)
                var _this = this
                var number = localStorage.getItem("number")  //登录的用户名
                //获取该用户
                $.ajax({
                    url: 'http://localhost:8008/user/getUser',
                    data: { "username": name_url },
                    type: 'get',
                    success: function (data) {
                        console.log(data)
                        _this.username = data.username
                        _this.sex = data.sex
                        _this.phone_num = data.phone_num
                        _this.email = data.email
                    },
                    error: function (xhr, errorType, error) {
                        console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
                    }
                })
                //获取该用户的所有捐赠
                $.ajax({
                    url: 'http://localhost:8008/user/selectDonationByUsername',
                    data: { "username": name_url },
                    type: 'get',
                    success: function (data) {
                        console.log(data)
                        _this.items = data
                    },
                    error: function (xhr, errorType, error) {
                        console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
                    }
                })
                //获取该用户收到的所有评论
                $.ajax({
                    url: 'http://localhost:8008/user/selectCommentByUsername',
                    data: { "username": name_url },
                    type: 'get',
                    success: function (data) {
                        console.log(data)
                        _this.comments = data
                    },
                    error: function (xhr, errorType, error) {
                        console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
                    }
                })
                //查看该用户收到的赞
                $.ajax({
                    url: 'http://localhost:8008/user/selectPraise',
                    data: { "username": name_url },
                    type: 'get',
                    success: function (data) {
                        console.log(data)
                        _this.praise_num = data
                    },
                    error: function (xhr, errorType, error) {
                        console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
                    }
                })
            },
            methods: {
                //点赞该用户
                give: function () {
                    console.log("点赞了")
                    var name_url = getQueryString('username') //传过来的用户名
                    console.log("传过来的" + name_url)
                    var _this = this
                    var number = localStorage.getItem("number")  //登录的用户名
                    var time = getNowFormatDate()
                    $.ajax({
                        url: 'http://localhost:8008/user/insertPraise',
                        data: { "username": name_url, "praise_username": number, "praise_time": time },
                        type: 'get',
                        success: function (data) {
                            console.log(data)
                            alert("点赞成功")
                            location.reload();
                        },
                        error: function (xhr, errorType, error) {
                            console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
                        }
                    })
                },

                //点击我想要
                need: function (index) {
                    var number = localStorage.getItem("number")
                    var _this = this
                    console.log(index)
                    console.log(_this.items[index])
                    $.ajax({
                        url: 'http://localhost:8008/user/insertReceiver',
                        data: { "username": number, "donate_username": _this.items[index].username, "donate_name": _this.items[index].name, "donate_title": _this.items[index].title },
                        type: 'get',
                        success: function (data) {
                            console.log(data)
                            alert("加入需求成功")
                        },
                        error: function (xhr, errorType, error) {
                            console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
                        }
                    })
                },

                //评论按钮
                comment: function () {
                    var _this = this
                    _this.seen = true
                },

                //添加评论
                add:function(){
                    var name_url = getQueryString('username') //传过来的用户名
                    console.log("传过来的" + name_url)
                    var _this = this
                    var number = localStorage.getItem("number")  //登录的用户名
                    var time = getNowFormatDate()
                    $.ajax({
                        url: 'http://localhost:8008/user/insertComment',
                        data: {"username":name_url,"comment_username":number,"comment_content":$("#content").val(),"comment_time":time},
                        type: 'get',
                        success: function (data) {
                            console.log(data)
                            alert("评论成功")
                            location.reload()
                        },
                        error: function (xhr, errorType, error) {
                            console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
                        }
                    })
                }
            }
        })

        //获取当前用户的函数
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        //获取当前时间，格式YYYY-MM-DD
        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }
    </script>
</body>

</html>